@import url(./theme.css);
@import url(./prism.css);
@import url(./prism-nord.css);
@import url(./datatables.min.css);
@import url(./layout.css);

/* Components */
@import url(./components/sidemenu.css);
@import url(./components/main_report.css);
@import url(./components/query.css);
@import url(./components/svg_container.css);
@import url(./components/table.css);
@import url(./components/button-copy.css);
@import url(./components/tabs.css);
@import url(./components/query-piece.css);
@import url(./components/sections-dropdown.css);
@import url(./components/report-header.css);

.icon {
  width: calc(var(--spacing) * 3);
  height: calc(var(--spacing) * 3);
}

.code-block * {
  font-family: var(--code-font);
  font-size: 1em;
}

/* Tooltip */

.tippy-box[data-theme~="archeometer"] {
  background-color: var(--brand-bg);
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
}

.tippy-box[data-theme~="archeometer"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: var(--brand-bg);
}
