digraph G {
  bgcolor="transparent";
  node [color= "<%= color.line_color() %>" fillcolor="<%= color.fill_color() %>" shape="rectangle" style="filled,rounded" fontname="Arial Sans"];
  <%= for module <- Map.keys(xrefs) do %>
    "<%= module %>";
  <% end %>

  <%= for {mod, refs} <- xrefs do %>
    <%= for ref <- refs do %>
      "<%= mod %>" -> "<%= ref %>";
    <% end %>
  <% end %>
}
