.copy-button {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) / 2);
  padding: var(--spacing) calc(var(--spacing) * 2);
  background-color: var(--body-bg);
  color: var(--brand-bg);
  border: 2px solid var(--brand-bg);
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
}

.copy-button:hover {
  background-color: var(--brand-bg-hover);
  color: var(--text-white);
  transition: 0.3s;
}

.copy-button:hover img {
  transition: 0.3s;
  filter: brightness(0) invert(1);
}

.copy-button p {
  background-color: inherit;
  color: inherit;
}
