.dropdown-sections {
  position: relative;
  cursor: pointer;
  gap: 8px;
  background-color: var(--body-alt-bg);
  border-radius: 4px;
  max-width: 150px;
}

.dropdown-sections div p {
  color: inherit;
}

.dropdown-sections:hover {
  background-color: var(--brand-bg-soft-hover);
}

.dropdown-sections.clicked {
  transition: 0.3s;
  background-color: var(--brand-bg);
  color: var(--text-white);
}

.dropdown-sections.clicked img {
  transition: 0.3s;
  filter: brightness(0) invert(1);
}

.dropdown-sections div {
  gap: var(--spacing);
}

#sections-container {
  position: absolute;
  min-width: 160px;
  z-index: 1;
  right: 0px;
  top: 50px;
}

.dropdown-sections div a {
  text-decoration: none;
  padding: var(--spacing) calc(var(--spacing) * 2);
  background-color: var(--brand-bg-soft);
  color: var(--text-content);
  border-radius: 4px;
  box-shadow: 0px 2px 8px 0px var(--drop-shadow);
}

.dropdown-sections div a.active {
  color: var(--text-icon);
}

.dropdown-sections div a:hover {
  color: var(--text-icon);
}
