.svg-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-height: 720px;
  min-height: 540px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}

.svg-container img {
  cursor: grab;
  position: absolute;
  width: 100%;
  max-height: 100%;
}

.panel-button {
  width: calc(var(--spacing) * 4);
  height: calc(var(--spacing) * 3);
  background-color: var(--brand-bg-soft-hover);
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.panel-button svg {
  stroke: var(--brand-bg);
  transform: scale(0.7);
}

.panel-button:disabled {
  background-color: #abb0bb;
  cursor: default;
}

.panel-button:hover:enabled svg,
.panel-button:disabled svg {
  stroke: white;
}

.panel-button:hover:enabled {
  background-color: var(--brand-bg);
  cursor: default;
}
