<!DOCTYPE html>
<html>
  <head>
    <title>Archeometer</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" media="all" />
    <script src="js/prism.js" ></script>
    <script src="js/datatables.min.js" ></script>
    <script src="js/index.js" ></script>
  </head>
  <body>
    <section class="report h-100">
      <%= renderer.nav_side_menu(page_names, renderer) %>
      <main class="report-container d-flex flex-d-column px-0 py-3 mb-3" id="report">
        <%= renderer.header(app_data, renderer) %>
        <%= renderer.main_report(app_data, renderer) %>
      </main>
    </section>
    <script src="js/popper.min.js" />
    <script src="js/tippy-bundle.umd.min.js" />
    <script>
      tippy('.sidemenu-item>a', {
        content: (reference) => reference.lastElementChild.innerHTML,
        placement: 'bottom',
        theme: 'archeometer'
      });
    </script>
    </body>
</html>