<button id="button-<%= code_lang %>-code-<%= uuid %>" class="copy-button" onclick="copyCode('<%= code_lang %>','<%= uuid %>')" onmouseout="outCopy('<%= code_lang %>-code-<%= uuid %>')">
  <img class="mx-0 icon-report-svg" src="assets/clipboard-doc.svg" alt="clipboard svg" />
  <p class="text-normal-medium px-0 mx-0">copy</p>
</button>