<%= if type == "cql" do %>
  <button class="text-normal-medium tablinks-<%= fragment.uuid %> active" onclick="openLang(event, '<%= type %>', '<%= fragment.uuid %>')"><%= String.upcase(type) %> </button>
<% else %>
  <button class="text-normal-medium tablinks-<%= fragment.uuid %>" onclick="openLang(event,'<%= type %>', '<%= fragment.uuid %>')"><%= String.upcase(type) %></button>
<% end %>