<h3>
  <label for="<%= fragment.uuid %>">

    <div class="code-task hd-smaller">
      Code
    </div>

    <img alt="down-arrow-code svg" class="mx-0 icon-report-svg" src="assets/down-arrow-code.svg" />
</label>
</h3>

<div class="code-block">
  <%= renderer.tab_content(fragment.query_type, fragment.uuid, fragment.code, renderer) %>
</div>