<div class="results">
<%= case fragment.result_type do 
  :table ->
    "<h3>Results 📝</h3>" <> renderer.result_table(fragment, renderer)
  :treemap_svg ->
    " <h3>Results 📝</h3>" <>
    "<p>Hover over the smaller rectangles to see the full information.  </p>" <>
    "<div class='svg-container w-100 d-flex justify-content-center mx-3'>" <>
      "<object type='image/svg+xml' data=" <> ("img/" <> Path.basename(fragment.result)) <> " ></object>" <>
    "</div><div>" <>
    "<button class='panel-button d-block ml-auto' onclick=\"openExternal('" <> ("img/" <> Path.basename(fragment.result)) <> "'\" title='Open in another window'>" <>
    "<svg class='w-6 h-6' fill='none' stroke='currentColor' stroke-width='1.5' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>" <>
    "<path d='M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25' stroke-linecap='round' stroke-linejoin='round'>" <>
    "</path></svg></button>  </div>"
  :svg ->
    "<h3>Results 📝</h3>" <> svg_container(fragment.uuid, "img/" <> Path.basename(fragment.result), renderer)
  :image ->
    "<h3>Results 📝</h3>" <>
    "<img class='img-result' src=" <> ("img/" <> Path.basename(fragment.result)) <> " />" <>
    "<div>" <>
      "<button class='panel-button d-block ml-auto' onclick=\"openExternal('" <> ("img/" <> Path.basename(fragment.result)) <> "')\" title='Open in another window'>" <>
        "<svg class='w-6 h-6' fill='none' stroke='currentColor' stroke-width='1.5' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>" <>
          "<path d='M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25' stroke-linecap='round' stroke-linejoin='round'>" <>
          "</path></svg></button></div>" 
  :empty_result ->
    "<h3>    Results 📝  </h3>" <>
    "<p>    The query didn't return any results to display.  </p>"
  :empty_input ->
    ""
  _ ->
    "<p>    no supported result type  </p>"
end %>
</div>