<div class="query p-0 mb-0">
  <input type="checkbox" id=<%= fragment.uuid %> />
  <%= case fragment.query_type do %>
    <% :cql -> %>
      <p class="text-normal-regular"><%=fragment.desc%></p>
      <h3>
        <label for=<%=fragment.uuid %>  >
          <div class="tab">
            <%=renderer.button_tab(fragment, "cql", renderer) %>
            <%=renderer.button_tab(fragment, "sql", renderer) %>
          </div>
          <span></span>
          <div class="arrow">
            <img alt="down-arrow-code svg" class="mx-0" src="assets/down-arrow-code.svg" />
          </div>
        </label>
      </h3>
      <div class="tabcontent-<%=fragment.uuid%> code-block" id="cql-tab-<%=fragment.uuid%>" > 
        <%=renderer.tab_content(fragment.query_type, fragment.uuid, fragment.code, renderer)%>
      </div>
      <div class="tabcontent-<%=fragment.uuid%> disable code-block" id="sql-tab-<%=fragment.uuid%>" >
        <%=renderer.tab_content(fragment.alt_code_lang, fragment.uuid, fragment.alt_code, renderer)%>
      </div>
    <% :elixir -> %>
      <p><%=fragment.desc%></p>
      <%=renderer.code_fragment(fragment, renderer) %>
    <% :mix_task -> %>
      <p><%=fragment.desc%></p>
      <%=renderer.code_fragment(fragment, renderer) %>
    <% :cli_command -> %>
      <p><%=fragment.desc%></p>
      <%=renderer.code_fragment(fragment, renderer) %>
    <% :empty_input -> %>

    <% _ -> %>
      <p><%=fragment.desc%></p>
      <p class="error-msg">⛔️ WARNING: Unknown code fragment type! Check your fragment definition. ⛔️</p>
  <% end %>
</div>