<div class="report-header d-flex justify-content-between px-3">
  <h1 class="title hd-base"><%= app_data.id %></h1>
  <div class="dropdown-sections px-1 py-2" id="dropdown-sections" onclick="dropdownSections()">
    <div class="d-flex">
      <img alt="stack 3 svg" class="mx-0 pr-0" src="assets/stack3.svg" />
      <p class="text-normal-medium mx-0 pr-0">
        Sections
      </p>
      <img alt="down-arrow-sections svg" class="mx-0 pr-0" src="assets/down-arrow-sections.svg" />
    </div>
    <div class="px-0 py-0 d-none" id="sections-container">
       <%= renderer.sections(app_data.sections, renderer) %>
    </div>
  </div>
</div>