<%= Enum.map app_data.sections, fn section -> %>
  <article class="report-piece d-flex flex-d-column gap-4">
    <h2 class="hd-small px-1 mx-0" id="<%=section.desc%>"><%=section.desc%></h2>
    <%= Enum.map section.fragments, fn fragment ->
      if fragment.query_type != :empty_input do
        renderer.fragment(fragment, renderer) <> renderer.fragment_result(fragment, renderer)
      else
        ""
      end
    end %>
  </article>
<% end %>