<%= if length(page_names) > 1 do %>
  <nav class="sidemenu p-3" id="sidemenu">
    <div id="logo-container">
      <div>
        <img class="icon" src="assets/logo.svg" />
      </div>
      <div>
        <h1 class="hd-base">archeometer</h1>
      </div>
      <div>
        <img class="icon" id="nav-menu-collapse" src="assets/chevron-double-left.svg" />
      </div>
    </div>
    <% [{main_name, main_sections} | pages] = page_names %>
    <%=renderer.sidemenu_item(%{text: "Project", icon: :folder, link: "#", type: :folder, parent: "root"}, renderer) %>
    <ul>
      <li>
        <%=renderer.sidemenu_item(%{text: main_name, link: "#{main_name}.html", type: :folder, icon: :stack, collapsed: true, parent: "project"}, renderer) %>
        <ul class="d-none" id="sidelist-<%=main_name%>">
          <%= Enum.map main_sections, fn section -> %>
            <li>
            <%= renderer.sidemenu_item(%{text: section, link: "#{main_name}.html##{section}", type: :single, parent: main_name}, renderer) %>
            </li>
          <% end %>
          </ul>
      </li>
    </ul>
    <%= renderer.sidemenu_item(%{text: "Applications", icon: :folder, link: "#", type: :folder, parent: "root"}, renderer) %>
    <ul>
    <%= Enum.map pages, fn {page, page_sections} -> %>
      <li>
        <%= renderer.sidemenu_item(%{text: page, icon: :stack, link: "#{page}.html", type: :folder, collapsed: true, parent: "applications"}, renderer) %>
        <ul class="d-none" id="sidelist-<%=page %>">
          <%= Enum.map page_sections, fn section -> %>
            <li>
              <%= renderer.sidemenu_item(%{text: section, link: "#{page}.html##{section}", type: :single, parent: page}, renderer) %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
    </ul>
  </nav>
<% end %>