<table>
  <thead>
    <tr>
      <%= Enum.map fragment.result.headers, fn header -> %>
        <th><%=header%></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= Enum.map fragment.result.values, fn values -> %>
      <tr>
        <%= Enum.map values, fn value -> %>
          <td><%=value %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>