<div class="sidemenu-item p-1 d-flex align-items-center gap-1" id="sl-<%= item.parent %>-<%= to_string(item.text) |> String.downcase() |> String.replace(" ", "-") %>">
  <%= if (item.type == :folder) do %>
    <%= if (Map.get item, :collapsed) do %>
      <img class="icon collapsible rotate-90" src="assets/chevron-down.svg" />
    <% else %>
      <img class="icon collapsible" src="assets/chevron-down.svg" />
    <% end %>
    <% 
      icon = case item.icon do
          :star -> "assets/star.svg"
          :folder -> "assets/folder.svg"
          _ -> "assets/stack.svg"
        end 
    %>
    <a class="d-flex w-100 gap-1" href="<%= item.link %>" >
      <img class="icon" src="<%= icon %>" />
      <span" class="text-normal-medium"><%= item.text %></span>
    </a>
  <% else %>
    <a class="d-flex w-100 gap-1" href="<%= item.link %>" >
      <span class="text-normal-medium"><%= item.text %></span>
    </a>
  <% end %>
</div>