<div class="svg-container" data-zoompan="0" id="svg-container-<%= fragment_uuid %>" onmouseleave="endPane(event,'<%= fragment_uuid %>')" onwheel="handleZoom(event,'<%= fragment_uuid %>')">
  <img data-grabbed="0" data-scale="1" data-x="0" data-y="0" onmousedown="startPane(event,'<%= fragment_uuid %>')" onmousemove="pane(event,'<%= fragment_uuid %>')" onmouseup="endPane(event,'<%= fragment_uuid %>')" src="<%= svg_path %>" />
</div>

<div class="mt-2 d-flex gap-1 justify-content-end">
  <button class="panel-button" disabled="true" id="zoom-out-<%= fragment_uuid %>" onclick="zoomOut(event,'<%= fragment_uuid %>')" title="Zoom out">
    <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M19.5 12h-15" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>

  <button class="panel-button" id="btn-zoom-pan-<%= fragment_uuid %>" onclick="toogleZoomPanAvailability(event,'<%= fragment_uuid %>')" title="Enable zoom and panning">
    <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <svg class="d-none" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>
  
  <button class="panel-button" disabled="true" id="zoom-in-<%= fragment_uuid %>" onclick="zoomIn(event,'<%= fragment_uuid %>')" title="Zoom in">
    <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>

  <button class="panel-button" onclick="openExternal('<%= svg_path %>')" title="Open in another window">
    <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>
</div>