<%
  lang = case code_lang do
    :cql ->  "language-elixir"
    :sql ->  "language-sql"
    :elixir -> "language-elixir"
    _ ->  "language-shell"
  end
  code_lang = Atom.to_string(code_lang)
%>

<pre class="code-normal-regular">
<code class="<%=lang %>"><%=  code_fragment %></code>
  <textarea class="code-snippet" id="<%= code_lang %>-code-<%= uuid %>"><%= code_fragment %></textarea>
</pre>
<%= renderer.button_copy(uuid, code_lang, renderer) %>